<?xml version="1.0"?>
<ruleset name="WordPress Theme Coding Standards">
	<description>PHP_CodeSniffer standard.</description>

	<arg name="extensions" value="php"/>
	<arg value="psvn"/>

	<rule ref="WordPress-Core" />
	<rule ref="WordPress-Extra" />
	<rule ref="WordPress-Docs" />

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/library/*</exclude-pattern>
	<exclude-pattern>*/scripts/*</exclude-pattern>

	<!-- Include sniffs for PHP cross-version compatibility. -->
    <config name="testVersion" value="5.2-99.0"/>
    <rule ref="PHPCompatibility"/>

</ruleset>
